[submodule "sjqcache"]
	path = sjqcache
	url = https://github.com/shenjiangqiu/sjqcache.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://github.com/shenjiangqiu/DRAMsim3.git
[submodule "gpgpu_intersim/minisat_utils"]
	path = gpgpu_intersim/minisat_utils
	url = https://github.com/shenjiangqiu/minisat_utils.git
